<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2013-09-03-itq-hashing.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65171403</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2013-10-27-kmeans-using-python.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65175903</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2013-11-01-clustering-pixels-using-kmeans.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65175802</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2013-12-14-solve-pysqlite-problem.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65175802</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-02-22-add-background-music-by-audiojs.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.651757</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-02-23-collect-jekyll-theme.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.651757</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-03-12-python-vlfeat-pydot-tips.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.651757</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-03-13-add-shadow-for-image-using-shadowbox.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65175599</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-03-14-how-to-center-images-with-CSS.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65175498</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-03-14-jekyll-writing-notes.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65175498</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-03-17-matplotlib-tutorial.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65175498</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-03-18-matplotlib-title-using-Chinese.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65175402</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-03-25-codes-of-hash-for-image-retrieval.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65175402</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-04-04-python-download-photos-from-panoramio.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65175301</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-04-10-cvpr14-reading-list.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65175301</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-04-13-use-django-bulding-a-blog-four.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.651752</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-04-13-use-django-bulding-a-blog-one.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.651752</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-04-13-use-django-bulding-a-blog-two.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.651752</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-04-14-use-django-bulding-a-blog-three.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65175098</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-04-16-python-basic-knowledge-one.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65175098</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-04-23-python-graph-install-error.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65175003</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-04-25-GitHub-repository-for-own-purposes.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65175003</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-04-25-interesting-website-collection.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65174901</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-05-07-extract-sift-and-surf-descriptor-using-opencv.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65174901</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-05-08-config-mysql-for-django.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.651748</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-05-10-papers-I-have-read.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.651748</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-05-12-approximate-nearest-neighbor-search.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65174699</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-05-24-use-django-bulding-a-blog-four.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65174699</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-05-28-using-these-tools-to-make-life-better.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65174598</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-05-31-ipv6-convert-to-ipv4.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65174598</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-05-31-the-trick-of-using-git.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65174502</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-06-01-build-development-environment.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65174502</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-06-02-evaluation-of-information-retrieval.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65174401</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-06-02-sequential-projection-learning-for-hashing.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65174401</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-06-06-learning-swift-note-one.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65174299</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-06-20-precision-recall-matlab-implement.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65174299</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-07-31-code-guide.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65174299</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-08-04-better-understanding-by-vps.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65174198</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-08-25-python-rename-files-and-move-to-the-up-one-dir.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65174198</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-08-31-django-blog-tutorial-the-next-generation-part-1.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65174103</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-08-31-install-postgresql-on-ubuntu.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65174103</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-10-03-django-web-guide-development-notes-one.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65174103</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-10-21-django-markdown.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65174001</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-10-29-database-for-cbir.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65174001</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-10-29-deep-learning-for-cbir.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65174001</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-11-14-problems-when-configing-caffe.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.651739</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-01-09-object-detection-using-dlib.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.651739</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-02-09-development-environment.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.651739</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-04-02-CBIR-CNN-and-practice.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65173799</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-04-29-cvpr15-image-retrieval-reading-list.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65173799</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-06-20-habir-updated-to-version-2.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65173697</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-06-21-sometihing-about-GMM-fisher-vector-SIFT-and-HOG.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65173697</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-06-26-install-opencv3-and-anaconda-in-mac-os.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65173602</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-07-01-swich-freely-between-opencv2-and-opencv3.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65173602</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-07-04-find-the-smallest-k-numbers.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65173602</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-07-05-fitting-line-with-ransac.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65173501</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-07-09-vlfeat-slic-cpp.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65173501</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-07-19-CBIR-BoF-VLAD-FV.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65173501</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-08-08-vlfeat-slic-with-qt.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65173399</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-08-22-SIFT(ASIFT)-Matching-with-RANSAC.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65173399</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-09-19-written-examination-of-some-companys.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65173298</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-09-29-picsearch-is-now-an-open-source-project.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65173298</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-10-14-random-forest-understanding.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65173203</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-11-10-pedestrian-detection-opencv.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65173203</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-03-03-deep-face-recognition-note.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65173101</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-03-27-how-to-design-a-good-bow-class.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65173101</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-04-17-decision-tree.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65173</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-05-08-feature-engineering-note.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65172899</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-06-05-cbir-technique-summary.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65172899</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-07-13-Hive-notes.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65172899</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-08-05-kd-tree-example-note.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65172797</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-10-08-boost-serialization.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65172797</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-10-30-index-billion-deep-descriptors.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65172702</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-01-07-compiling-cpp-code-using-caffe.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65172702</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-01-08-caffe-python-extract-feature-parallel.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65172702</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-02-05-cbir-query-expansion.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65172601</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-04-08-ann-search.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65172601</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-05-28-CBIR-BoW-for-image-retrieval-and-practice.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65172499</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-05-30-layer-selection-and-finetune-for-cbir.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65172499</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-06-12-kNN algorithm.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65172398</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-06-12-kmeans.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65172398</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-06-12-python distance overview.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65172303</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-06-13-markdown-latex.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65172303</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-06-16-neural network.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65172303</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-06-16-python base.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65172201</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-06-16-python numpy.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65172201</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-06-16-xcode.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65172201</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-06-17-SGD-01.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65171999</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-06-17-back-propagtion.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.651721</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-06-17-neural network-easy-learning.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.651721</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-06-20-activactor.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65171999</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-06-26-image-index-use-sift.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65171897</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-06-29-image-doc.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65171897</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-07-05-LSH.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65171897</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-07-05-tensorflow-loss.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65171802</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-07-05-tensorflow-rnn.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65171701</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-07-13-pca.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65171701</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-07-27-hadoop-hbase.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65171701</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-07-29-ebudata-analysis.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65171599</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-08-03-recommendation-algorithm.md</key>
			<dict>
				<key>lastModification</key>
				<real>523436042.65171498</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>无标题 - 2.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>523436060.62421</real>
				<key>lastModification</key>
				<real>523436060.62421</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>无标题 - 3.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>523436063.46680802</real>
				<key>lastModification</key>
				<real>523436063.46680802</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>无标题 - 4.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>523436065.96822</real>
				<key>lastModification</key>
				<real>523436065.96822</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>无标题 - 5.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>523436068.06309497</real>
				<key>lastModification</key>
				<real>523436068.06309497</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>17</integer>
				</dict>
			</dict>
			<key>无标题 - 6.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>523436069.96666902</real>
				<key>lastModification</key>
				<real>523436069.96666902</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>18</integer>
				</dict>
			</dict>
			<key>无标题.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>523436058.498496</real>
				<key>lastModification</key>
				<real>523436058.498496</real>
				<key>version</key>
				<dict>
					<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
					<integer>13</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2013-09-03-itq-hashing.md</string>
		</array>
		<array>
			<string>2017-08-03-recommendation-algorithm.md</string>
		</array>
		<array>
			<string>无标题.md</string>
		</array>
		<array>
			<string>无标题 - 2.md</string>
		</array>
		<array>
			<string>无标题 - 3.md</string>
		</array>
		<array>
			<string>无标题 - 4.md</string>
		</array>
		<array>
			<string>无标题 - 5.md</string>
		</array>
		<array>
			<string>无标题 - 6.md</string>
		</array>
		<array>
			<string>2017-07-29-ebudata-analysis.md</string>
		</array>
		<array>
			<string>2017-07-27-hadoop-hbase.md</string>
		</array>
		<array>
			<string>2017-07-13-pca.md</string>
		</array>
		<array>
			<string>2017-07-05-tensorflow-rnn.md</string>
		</array>
		<array>
			<string>2017-07-05-tensorflow-loss.md</string>
		</array>
		<array>
			<string>2017-07-05-LSH.md</string>
		</array>
		<array>
			<string>2017-06-29-image-doc.md</string>
		</array>
		<array>
			<string>2017-06-26-image-index-use-sift.md</string>
		</array>
		<array>
			<string>2017-06-20-activactor.md</string>
		</array>
		<array>
			<string>2017-06-17-SGD-01.md</string>
		</array>
		<array>
			<string>2017-06-17-neural network-easy-learning.md</string>
		</array>
		<array>
			<string>2017-06-17-back-propagtion.md</string>
		</array>
		<array>
			<string>2017-06-16-xcode.md</string>
		</array>
		<array>
			<string>2017-06-16-python numpy.md</string>
		</array>
		<array>
			<string>2017-06-16-python base.md</string>
		</array>
		<array>
			<string>2017-06-16-neural network.md</string>
		</array>
		<array>
			<string>2017-06-13-markdown-latex.md</string>
		</array>
		<array>
			<string>2017-06-12-python distance overview.md</string>
		</array>
		<array>
			<string>2017-06-12-kNN algorithm.md</string>
		</array>
		<array>
			<string>2017-06-12-kmeans.md</string>
		</array>
		<array>
			<string>2017-05-30-layer-selection-and-finetune-for-cbir.md</string>
		</array>
		<array>
			<string>2017-05-28-CBIR-BoW-for-image-retrieval-and-practice.md</string>
		</array>
		<array>
			<string>2017-04-08-ann-search.md</string>
		</array>
		<array>
			<string>2017-02-05-cbir-query-expansion.md</string>
		</array>
		<array>
			<string>2017-01-08-caffe-python-extract-feature-parallel.md</string>
		</array>
		<array>
			<string>2017-01-07-compiling-cpp-code-using-caffe.md</string>
		</array>
		<array>
			<string>2016-10-30-index-billion-deep-descriptors.md</string>
		</array>
		<array>
			<string>2016-10-08-boost-serialization.md</string>
		</array>
		<array>
			<string>2016-08-05-kd-tree-example-note.md</string>
		</array>
		<array>
			<string>2016-07-13-Hive-notes.md</string>
		</array>
		<array>
			<string>2016-06-05-cbir-technique-summary.md</string>
		</array>
		<array>
			<string>2016-05-08-feature-engineering-note.md</string>
		</array>
		<array>
			<string>2016-04-17-decision-tree.md</string>
		</array>
		<array>
			<string>2016-03-27-how-to-design-a-good-bow-class.md</string>
		</array>
		<array>
			<string>2016-03-03-deep-face-recognition-note.md</string>
		</array>
		<array>
			<string>2015-11-10-pedestrian-detection-opencv.md</string>
		</array>
		<array>
			<string>2015-10-14-random-forest-understanding.md</string>
		</array>
		<array>
			<string>2015-09-29-picsearch-is-now-an-open-source-project.md</string>
		</array>
		<array>
			<string>2015-09-19-written-examination-of-some-companys.md</string>
		</array>
		<array>
			<string>2015-08-22-SIFT(ASIFT)-Matching-with-RANSAC.md</string>
		</array>
		<array>
			<string>2015-08-08-vlfeat-slic-with-qt.md</string>
		</array>
		<array>
			<string>2015-07-19-CBIR-BoF-VLAD-FV.md</string>
		</array>
		<array>
			<string>2015-07-09-vlfeat-slic-cpp.md</string>
		</array>
		<array>
			<string>2015-07-05-fitting-line-with-ransac.md</string>
		</array>
		<array>
			<string>2015-07-04-find-the-smallest-k-numbers.md</string>
		</array>
		<array>
			<string>2015-07-01-swich-freely-between-opencv2-and-opencv3.md</string>
		</array>
		<array>
			<string>2015-06-26-install-opencv3-and-anaconda-in-mac-os.md</string>
		</array>
		<array>
			<string>2015-06-21-sometihing-about-GMM-fisher-vector-SIFT-and-HOG.md</string>
		</array>
		<array>
			<string>2015-06-20-habir-updated-to-version-2.md</string>
		</array>
		<array>
			<string>2015-04-29-cvpr15-image-retrieval-reading-list.md</string>
		</array>
		<array>
			<string>2015-04-02-CBIR-CNN-and-practice.md</string>
		</array>
		<array>
			<string>2015-02-09-development-environment.md</string>
		</array>
		<array>
			<string>2015-01-09-object-detection-using-dlib.md</string>
		</array>
		<array>
			<string>2014-11-14-problems-when-configing-caffe.md</string>
		</array>
		<array>
			<string>2014-10-29-deep-learning-for-cbir.md</string>
		</array>
		<array>
			<string>2014-10-29-database-for-cbir.md</string>
		</array>
		<array>
			<string>2014-10-21-django-markdown.md</string>
		</array>
		<array>
			<string>2014-10-03-django-web-guide-development-notes-one.md</string>
		</array>
		<array>
			<string>2014-08-31-install-postgresql-on-ubuntu.md</string>
		</array>
		<array>
			<string>2014-08-31-django-blog-tutorial-the-next-generation-part-1.md</string>
		</array>
		<array>
			<string>2014-08-25-python-rename-files-and-move-to-the-up-one-dir.md</string>
		</array>
		<array>
			<string>2014-08-04-better-understanding-by-vps.md</string>
		</array>
		<array>
			<string>2014-07-31-code-guide.md</string>
		</array>
		<array>
			<string>2014-06-20-precision-recall-matlab-implement.md</string>
		</array>
		<array>
			<string>2014-06-06-learning-swift-note-one.md</string>
		</array>
		<array>
			<string>2014-06-02-sequential-projection-learning-for-hashing.md</string>
		</array>
		<array>
			<string>2014-06-02-evaluation-of-information-retrieval.md</string>
		</array>
		<array>
			<string>2014-06-01-build-development-environment.md</string>
		</array>
		<array>
			<string>2014-05-31-the-trick-of-using-git.md</string>
		</array>
		<array>
			<string>2014-05-31-ipv6-convert-to-ipv4.md</string>
		</array>
		<array>
			<string>2014-05-28-using-these-tools-to-make-life-better.md</string>
		</array>
		<array>
			<string>2014-05-24-use-django-bulding-a-blog-four.md</string>
		</array>
		<array>
			<string>2014-05-12-approximate-nearest-neighbor-search.md</string>
		</array>
		<array>
			<string>2014-05-10-papers-I-have-read.md</string>
		</array>
		<array>
			<string>2014-05-08-config-mysql-for-django.md</string>
		</array>
		<array>
			<string>2014-05-07-extract-sift-and-surf-descriptor-using-opencv.md</string>
		</array>
		<array>
			<string>2014-04-25-interesting-website-collection.md</string>
		</array>
		<array>
			<string>2014-04-25-GitHub-repository-for-own-purposes.md</string>
		</array>
		<array>
			<string>2014-04-23-python-graph-install-error.md</string>
		</array>
		<array>
			<string>2014-04-16-python-basic-knowledge-one.md</string>
		</array>
		<array>
			<string>2014-04-14-use-django-bulding-a-blog-three.md</string>
		</array>
		<array>
			<string>2014-04-13-use-django-bulding-a-blog-two.md</string>
		</array>
		<array>
			<string>2014-04-13-use-django-bulding-a-blog-one.md</string>
		</array>
		<array>
			<string>2014-04-13-use-django-bulding-a-blog-four.md</string>
		</array>
		<array>
			<string>2014-04-10-cvpr14-reading-list.md</string>
		</array>
		<array>
			<string>2014-04-04-python-download-photos-from-panoramio.md</string>
		</array>
		<array>
			<string>2014-03-25-codes-of-hash-for-image-retrieval.md</string>
		</array>
		<array>
			<string>2014-03-18-matplotlib-title-using-Chinese.md</string>
		</array>
		<array>
			<string>2014-03-17-matplotlib-tutorial.md</string>
		</array>
		<array>
			<string>2014-03-14-jekyll-writing-notes.md</string>
		</array>
		<array>
			<string>2014-03-14-how-to-center-images-with-CSS.md</string>
		</array>
		<array>
			<string>2014-03-13-add-shadow-for-image-using-shadowbox.md</string>
		</array>
		<array>
			<string>2014-03-12-python-vlfeat-pydot-tips.md</string>
		</array>
		<array>
			<string>2014-02-23-collect-jekyll-theme.md</string>
		</array>
		<array>
			<string>2014-02-22-add-background-music-by-audiojs.md</string>
		</array>
		<array>
			<string>2013-12-14-solve-pysqlite-problem.md</string>
		</array>
		<array>
			<string>2013-11-01-clustering-pixels-using-kmeans.md</string>
		</array>
		<array>
			<string>2013-10-27-kmeans-using-python.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>d7b3d815b7783a081feed54c37d969038a60a6f49ed8e9b044ee4a1f18ad9eb5</key>
			<integer>18</integer>
		</dict>
	</dict>
</dict>
</plist>
